@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Prompt:100,200,300,regular,500,600,700,800,900,);

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%;
    line-height: 1;
}

.wrapper {
    width: 1440px;
    height: 647px;
    left: 0;
    top: 0;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 23px 0px rgba(49, 49, 49, 0.05);
    background: rgb(245, 247, 255);
   
}

.page{
    flex: 1 1 auto;
}

[class*="__container"]{
    max-width: 1410px;
    margin: 0 auto;
   }

@media (max-width:1199.98px){
    [class*="__container"] {
        max-width: 970px;
}}

@media (max-width:990.98px){
    [class*="__container"] {
        max-width: 750px;
}}

@media (max-width:767.98px){
    [class*="__container"] {
        max-width: none;
        padding: 0 15px;
}}

.wrapper > main{
    flex-grow: 1;
    
}
.header {
}
.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 103px;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__logo {
    width: 30px;
    height: 45.32px;
    left: 135px;
    right: 641px;
    top: 23px;
    bottom: -23px;
}
.header__menu {
}
.menu {
}
.menu__list {
    display:flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 30px;
   

}
.menu__item {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}
.menu__link {
    color: rgb(39, 35, 35);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;

}

.form-header-block__input {
position: relative;
width: 307px;
height: 35px;
border-radius: 50px;
background: rgb(255, 255, 255) url('../img/Vector.png') 280px 50% no-repeat;
}

.header__link {
    width: 117px;
    height: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-block__container {
width: 543px;
height: 328px;
left: 165px;
right: 732px;
top: 193px;
margin-bottom: 126px;
    
}
.content-main-block__body {
    margin-bottom: 32px;
    
}

.content-main-block__title {
    position: absolute;
    width: 504px;
    height: 164px;
    left: 165px;
    top: 193px;
    margin-bottom: 290px;
    font-family: Prompt;
    font-size: 45px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 7%;
    text-align: left;
}
.content-main-block__text {
    position: absolute;
    width: 543px;
    height: 72px;
    left: 165px;
    top: 375px;
    margin-bottom: 200px;
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(168, 168, 168);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;    
}

.colortext{
    color: rgb(255, 92, 0);
}

.content-main-block__form {
    display: flex;
    width: 337px;
    height: 44px;
    background: #fff url('../img/sign\ play.png') 190px 50% no-repeat;
    left:165px;
    right: 938px;
    margin-top: 477px;
    margin-bottom: 126px;}


.form-main-block__button {
    width: 150px;
    height: 44px;
    left: 165px;
    top: 477px;
    border-radius: 7px ;
    color: #fff;
    box-shadow: 0px 4px 12px 0px;
    background: rgb(84, 76, 172);
}

.form-main-block__link {  
    width: 153px;
    height: 44px;
    left: 349px;
    right: -165px;
    top: 477px;
    bottom: -477px;    
}

.body-main-block{
    display: flex;}

.body-main-block__photo{
    justify-content: flex-end;
    width: 568px;
    height: 523px;
    left: 706px;
    right: -706px;
    top: 124px;
    bottom: -124px;
}

.partners-main-block{
    max-width: 65%; 
    bottom: 32px;
}

.partners-main-block__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    position: absolute;
    width: 1170px;
    height: 113.66px;
    left: 166px;
    right: 165.01px;
    top: 639px;
   
}

.partners-main-block__item{
 
}

.partners-main-block__item img{
    max-width: 100%;
}
