@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css2?family=Oswald:100,200,300,regular,500,600,700,800,900);

h1,
h2,
h3,
h4,
h5,
h6 {
}

html,
body{
    height: 100%;
    line-height: 1;
}

.wrapper {
    left: 0;
    top: 0;
    min-height: 100%;
    box-shadow: 0px 4px 23px 0px rgba(49, 49, 49, 0.05);
    
   
}

.main{
    padding-top: 110px;
    padding-bottom: 110px;
   
}



[class*="__container"]{
    max-width: 1410px;
    margin: 0 auto;
   }

@media (max-width:1199.98px){
    [class*="__container"] {
        max-width: 970px;
}}

@media (max-width:990.98px){
    [class*="__container"] {
        max-width: 750px;
}}

@media (max-width:767.98px){
    [class*="__container"] {
        max-width: none;
        padding: 0 15px;
}}

.wrapper > main{
    flex-grow: 1;
    }

.page__main{
    background: rgb(245, 247, 255);
}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 103px;
    gap: 10px;
    align-items: center;
    margin-left: 100px;
}

.header__logo {
    width: 30px;
    height: 45.32px;
    left: 135px;
    right: 641px;
    top: 23px;
    bottom: -23px;
}
.menu__list {
    display:flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 30px;  
}

.menu__item {
    font-weight: 400;
    font-size: 25px;
    text-align: center;

}
.menu__link {
    color: rgb(39, 35, 35);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
}

.form-header-block__input {
position: relative;
width: 307px;
height: 35px;
border-radius: 50px;
background: rgb(255, 255, 255) url('../img/Vector.png') 280px 50% no-repeat;
}

.header__link {
    width: 117px;
    height: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.page__main{
   
}
.main-block__container {  
    margin-left: 220px;

}
.content-main-block__body {
    margin-bottom: 32x;
   
}

.content-main-block__title {
    width: 504px;
    height: 164px;
    left: 165px;
    top: 193px;
    font-family: Prompt;
    font-size: 45px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 7%;
    text-align: left;
}
.content-main-block__text {   
    width: 543px;
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(168, 168, 168);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;   
}

.colortext{
    color: rgb(255, 92, 0);
}

.content-main-block__form {
    display: flex;
    justify-content: space-between;
    width: 337px;
    height: 44px;    
    left:165px;
    right: 938px;
}
    


.form-main-block__button {
    width: 150px;
    height: 44px;
    left: 165px;
    top: 477px;
    border-radius: 7px ;
    color: #fff;
    box-shadow: 0px 4px 12px 0px;
    background: rgb(84, 76, 172);
    flex-direction: row;
    justify-content: space-evenly;
}

.form-main-block__link {  
    display: flex;
    align-items: center;
} 

.form-main-block-link__photo{
    background: url(../img/sign\ play.png) 50% no-repeat;
    width: 70px;
    height: 44px;   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.colortext-link{
 color: rgb(0, 0, 0);
}

.body-main-block{
    display: flex;}

.body-main-block__photo{
    justify-content: flex-end;
    width: 568px;
    height: 523px;
    left: 706px;
    right: -706px;
    top: 124px;
    bottom: -124px;
}

.partners-main-block__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin-left: 220px;
    margin-right: 165px;
    left: 200px;
    right: 200px;   
}

.partners-main-block__item img{
    max-width: 100%;
}
/*======================*/
.start{
    padding-top: 110px;
    padding-bottom: 110px;
}
.page__start{
    padding: 50px 20px;
    
    margin-top: 66px;
}

.start-block__container {
    width: 1110px;
    height: 470px;
    margin-left: 200px;
    margin-right: 165px;
    
}

.start__logo {
    width: 63px;
    height: 17px;
    color: rgb(255, 92, 0);
    font-family: Oswald;
    font-size: 12px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 5%;
    text-align: left;
    flex-direction: row;
    align-items: center;

}


.content-start-block__main{
    display: flex;
    align-items: center;
   
}
.content-start-block__title{
    width: 393px;
    height: 94px;
    left: 165px;
    padding-top: 75x;
    padding-left: 0;
    padding-right: 717px;       
    color: rgb(21, 20, 20);
    font-family: Oswald;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 5%;
    text-align: left;
    
}


.content-start-block__image img{  
    position: relative;  
    width: 700px;
    height: 500px;   
    left: 100px;
    top: -110px;
    
}
    
    

.content-start-block__items {
    display: run-in;
    width: 100%;
    margin-right: 40px;
}

.content-start-block__item{

    display: flex;
    flex-direction: row;
    width: 400px;
    height: 30px;    
    border-radius: 8px;
    background: rgb(206, 212, 237);
    padding: 22px;
    margin: 10px;
    align-items: center;    
    margin-bottom: 40px;    

}

.content-start-block__title11,
.content-start-block__title2,
.content-start-block__title3 {
    color: #333;
    margin-bottom: 10px;
    color: rgb(50, 50, 50);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 2%;
    text-align: left;
    padding: 15px;
}

.content-start-block__arrow1,
.content-start-block__arrow2{
    padding-left: 195px;    
    width: 10px;
    height: 17px;
    left: 579px;
    top: 1059px;   	

}

.content-start-block__arrow3{
    padding-left: 250px;
    width: 10px;
    height: 17px;
    left: 579px;
    top: 1059px;
}

#photo { 
   position: relative;
   left: -300px;
   bottom: 120px; 
   width: 77px;
   height: 77px;  
    z-index: 1;
}
/*=============================*/

.why{
    padding-top: 110px;
    padding-bottom: 110px;
}


@media (max-width:991.98px) {
    padding-top: 70px;
    padding-bottom: 70px;    
}

@media (max-width:767.98px) {
padding-top: 30px;
padding-bottom: 30px;
}

.page__why{
   
    margin-top: 119px;
}

.content-why-block__title{
    margin-bottom: 70px;
    color: rgb(53, 52, 52);
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 5%;
    text-align: center;
    margin-bottom: 20px;

}

.content-why-block__text{
    display: flex;
    width: 543px;
    height: 48px;
    color: rgb(168, 168, 168);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    padding-left: 410px;
    padding-bottom: 80px;
    margin-bottom: 45px;

}

.why__items{
     display: grid;
     align-items: start;
     grid-template-columns: repeat(3, minmax(auto,260px));
     column-gap: 30px;
     row-gap: 40px;
     justify-content: space-between;
}

.item-why{
    width: 350px;
    height: 254px;
    left: 165px;
    top: 1625px;
    border-radius: 20px;
    box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
    background: rgb(255, 255, 255);

}

.item-why__title{
width: 78px;
height: 17px;
left: 202px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(50, 50, 50);
font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 2%;
text-align: left;
padding-left: 37px;
padding-right: 235px;
padding-bottom: 35px;
}


.item-why__icon1,
.item-why__icon2,
.item-why__icon3{
    width: 60px;
    height: 60px;
    padding-top: 40px;
    padding-bottom: 22px;
    padding-right: 253px;
    padding-left: 35px;  
}

.item-why__text{
    width: 276px;
height: 66px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(218, 209, 209);
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 2%;
text-align: left;
padding-left: 37px;
padding-bottom: 34px;
padding-top: -25px;
}

@media (max-width:767.98px) {
    .why__items{
        grid-template-columns: 1fr;
    }
}
    .item-why__icon{
        margin-bottom: 20px;
    }
    .why__title {
        margin-bottom: 50px;
}

/*=================================*/

.featured{
    padding-top: 110px;
    padding-bottom: 100px;
}

.content-featured-block__title{
    margin-bottom: 70px;
    color: rgb(53, 52, 52);
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 5%;
    text-align: center;
    margin-bottom: 20px;
}


.content-featured-block__text{
    display: flex;
    width: 543px;
    height: 48px;
    color: rgb(168, 168, 168);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    padding-left: 410px;
    padding-bottom: 80px;
    margin-bottom: 45px;
}

.featured__items{
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, minmax(auto,260px));
    column-gap: 30px;
    row-gap: 40px;
    justify-content: space-between;
}

.item-featured{
    width: 380px;
    height: 465px;
    left: 260px;
    top: 2160px;
    border-radius: 20px;
    box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
    background: rgb(255, 255, 255);
}

.item-featured__icon1,
.item-featured__icon2,
.item-featured__icon3{
    width: 60px;
    height: 60px;
    padding-top: 51px;
    padding-bottom: 45px;
    padding-right: 253px;
    padding-left: 157px;  
}

.item-featured__title{
    width: 220px;
height: 23px;
left: 345px;
top: 2331px;
display: flex;
flex-direction: row;
align-items: center;
padding-left: 85px;
color: rgb(50, 50, 50);
font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 50px;
letter-spacing: 2%;
text-align: left;
}

.item-featured__sub-title{
    width: 93px;
height: 22px;
left: 408px;
top: 2370px;
display: flex;
flex-direction: row;
align-items: center;
padding-left: 148px;
padding-top: 16px;
color: rgb(66, 56, 175);
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 2%;
text-align: left;
}

.item-featured__price{
    width: 230px;
    height: 60px;
    left: 335px;
    top: 2436px; 
    padding-left: 70px;
    padding-top: 44px;
}

.form-featured-block__link{
    display: flex;
    align-items: center;
    padding-left: 75px;
    padding-top: 33px;
}

.form-featured-block-link__photo1{
    background: url(../img/Heart1.svg) 50% no-repeat;
    width: 70x;
    height: 40px;   
    display: flex;
    padding-left: 40px;
}

.form-featured-block-link__photo{
    background: url(../img/Heart\ 2.3.svg) 50% no-repeat;
    width: 50px;
    height: 40px;   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-featured-block__button{
    width: 152px;
    height: 49px;
    left: 413px;
    top: 2529px;
    border-radius: 47px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    background: rgb(84, 76, 172);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 34px;
    margin-left: 29px;
}

.container-featured-block__button{
    width: 152px;
    height: 49px;
    left: 723px;
    top: 2736px;
    border-radius: 47px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    background: rgb(84, 76, 172);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;font-weight: 400;
    line-height: 62px;
    letter-spacing: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 34px;
    margin-left: 29px;
    margin-left: 654px;
    margin-top: 76px;
}

/*====================================*/

.customer{
    padding-top: 110px;
    padding-bottom: 100px;
}



.content-customer-block__title{
    
    color: rgb(53, 52, 52);
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 5%;
    text-align: center;
    margin-bottom: 20px;
}


.content-customer-block__text{
    display: flex;
    width: 543px;
    height: 48px;
    color: rgb(168, 168, 168);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    padding-left: 410px;
    padding-bottom: 80px;
    margin-bottom: 45px;
}

.content-customer-block__main{
    display: flex;
    align-items: center;   
}

.content-customer-block__image{
width: 350px;
height: 350px;
left: 515px;
top: 3416px;
margin-left: 165px;
}

.customer__items{
    display: grid;
    align-items: start;   
    column-gap: 30px;
    row-gap: 40px;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-left: 29px;
}

.item-customer__title1{
    width: 139px;
height: 17px;
left: 545px;
top: 3101px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(50, 50, 50);
font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 2%;
text-align: left;
padding-bottom: 13px;
}

.item-customer__sub-title{
    width: 199px;
height: 21px;
left: 545px;
top: 3131px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(134, 134, 134);
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
}


.item-customer__text1{
width: 730px;
height: 99px;
left: 545px;
top: 3191px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(56, 56, 56);
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: left;
padding-top: 39px;
}

.content-customer-block__arrows{
    display: flex;
}

/*================*/
.simple-rating {
    position: relative;
    font-size: 24px;
    display: inline-block;
   
}
.simple-rating::before{
    content: "★★★★★"; 
    display: block; 
}

.simple-rating__items{
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left: 0; 
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}


.simple-rating__item{
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top:0;
    left: 0;
}

.simple-rating__label{
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color:  #f0dbbb;
}

.simple-rating__label::before{
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked~.simple-rating__label{
    color:  #FBB040;
}

.simple-rating__label:hover,
.simple-rating__label:hover~.simple-rating__label,
.simple-rating__label:checked~.simple-rating__label:hover{
    color: #ffef9f;
}


/*====================*/

.customer__footer{
    width: 1110px;
height: 229px;
left: 165px;
top: 3535px;
border-radius: 30px;
background: rgb(206, 213, 244);
margin-top: 119px;
margin-left: 165px;
}

.content-customer__options{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 115px;
    padding-top: 74px;
    
}

.options-content-customer__label{
    width: 116px;
    height: 49px;
    left: 299px;
    top: 3609px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(88, 78, 198);
font-family: Oswald;
font-size: 40px;
font-weight: 600;
line-height: 50px;
letter-spacing: 5%;
text-align: center;
}

.options-content-customer__value{
    width: 154px;
height: 18px;
left: 280px;
top: 3672px;
padding-top: 14px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
}

/*===================================*/

.price{
    padding-top: 110px;
    padding-bottom: 100px;
}

.content-price-block__title{
    color: rgb(53, 52, 52);
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 5%;
    text-align: center;
    margin-bottom: 20px;

}

.content-price-block__text{
    display: flex;
    width: 543px;
    height: 48px;
    color: rgb(168, 168, 168);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    padding-left: 410px;
    padding-bottom: 80px;
    margin-bottom: 45px;
}

.price__items{
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, minmax(auto,260px));
    justify-content: space-between;
}

.price__item{
    width: 350px;
height: 537px;
left: 165px;
top: 4075px;
border-radius: 20px;
box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
background: rgb(255, 255, 255);
}

.item-price__title{
    width: 47px;
height: 17px;
left: 316px;
top: 4138px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(66, 56, 175);
font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 2%;
text-align: left;
padding-left: 120px;
padding-top: 63px;
}

.item-price__label{
    width: 51px;
height: 57px;
left: 301px;
top: 4186px;
color: rgb(53, 52, 52);
font-family: Oswald;
font-size: 45px;
font-weight: 400;
line-height: 55px;
letter-spacing: 7%;
text-align: center;
padding-left: 120px;
padding-top: 15px;
}

.item-price__value{
    width: 85px;
height: 18px;
left: 284px;
top: 4267px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(138, 134, 185);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: center;
padding-left: 120px;
padding-top: 12px;
}

.item-price__block{
    display: flex;
    margin-left: 40px;
    margin-top: 30px;    
}

.item-price__sign{
    width: 15.85px;
height: 15.85px;
left: 230px;
top: 4358px;
padding-left: 20px;
padding-right: 11px ;
}

.styletext{
    width: 192px;
height: 20px;
left: 257px;
top: 4356px;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(168, 168, 168);
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 2%;
text-align: center;
}

.item-price__button{
    width: 152px;
    height: 49px;
    left: 723px;
    top: 2736px;
    border-radius: 47px;
    box-shadow: 0px 4px 12px 0px ;
    background: rgb(145, 145, 147);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;font-weight: 400;
    line-height: 62px;
    letter-spacing: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    margin-left: 90px;
    margin-top: 100px;
}

.item-price__button:hover{
    background-color: grey;
}

/*=======================*/

.footer{
   
    padding-top: 110px;
    padding-bottom: 110px;
}

.footer__container{
    border-radius: 30px 30px 0px 0px;
    background: rgb(219, 226, 255);
    max-width: 1900px;

}

.menu-footer__item{
   
}


.menu-footer__list{
column-count: 6;
flex-direction: column-reverse;
justify-content: space-between;
padding-top: 50px;

padding-left: 300px;
gap: 120px;

}


.menu-footer__link1{
    color: rgb(53, 52, 52);
font-family: Oswald;
font-size: 24px;
font-weight: 400;
line-height: 26px;
letter-spacing: ;
text-align: left;
padding-top: 30px;


}

.menu-footer__link{
    display: flex;
    color: rgb(113, 113, 113);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 2%;
text-align: left;
padding-top: 10px;

}



/*---*/




.footer-partners__link{ 
    display: flex; 
    flex-wrap: wrap;
    padding-top: 120px;
    padding-left: 500px; 
    
   }

.menu-footer-partners__list{
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
    row-gap: 30px;   
    }